.Container {
  margin: 15px;
  height: 95vh;
  width: 95vw;
  background-color: transparent;
  border-radius: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0.4fr;
  gap: 10px;
}

.Container :global span.MuiCircularProgress-root {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}